/ADDITIONAL-TOPICS
#/FUTURE-TOPICS
#.gitignore

# macOS Files
.DS_Store

# Ignore .sh files
#*.sh

# Terraform Files and Folders
.terraform
*.tfstate
*.tfstate.backup
#.terraform.lock.hcl
#*.tfvars

# Ignore .pem files
#*.pem

# exclude the notes
*Notes*
*notes*
*.sw?
.idea
terragrunt.iml
vendor
.terraform
.vscode
*.tfstate
*.tfstate.backup
*.out
.terragrunt-cache
.bundle
.ruby-version
.terraform.lock.hcl